# Backend folder (exclude most, except specific files/folders)
backend/*
!backend/requirements.txt
!backend/app/
backend/app/models/*.pth
backend/app/models/*.pkl
backend/app/models/*.joblib
backend/models/

# Large audio/data sample folders
public/Actor_*/
public/Closed_Eyes/
public/Open_Eyes/
public/audio_speech_actors_01-24/
public/fer2013/
public/mimic-iii-clinical-database-demo-1.4/
bun.lockb

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
*.log
node_modules
